html {
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(#fcdbdb, #f5f6ff);
  overflow: auto;
  height: 100%;
}

.configuration {
  display: none;
}

.configure .configuration {
  display: block;
}

.configure div.configuration-hidden {
  display: none !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

#settingsbutton img {
  width: 60px;
  height: 60px;
}

.choice {
  font-size: x-large;
}

.space-between {
  justify-content: space-between;
}

.title {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  background: linear-gradient(-90deg, rgba(226,85,43,0.4) 27%, rgba(215,31,119,0.4) 52%, rgba(0,212,255,0.4) 100%);
  color: rgb(238 243 207);
  border: rgb(220, 220, 132);
  text-decoration-style: wavy;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#dino {
  max-width: 40%;
  max-height: 40%;
  position: fixed;
  bottom: -20px;
  right: -20px;
  z-index: -100;
}